.vscode/
__pycache__/
*.log
.*.swp

# Build artifacts
luxseq-core/target/

# Disk images, archives, build outputs
*.bin
luxseq-core/*.raw*
luxseq-core/*.tar.gz
luxseq-core/image.tar.gz

# Tooling directories
luxseq-core/.cargo/
luxseq-core/.git/

logs/
lux_loader/
.git_2
